*{
    margin: 0;
    padding: 0;
}

.sec{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.he{
    width: 100px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heart {
  width: 100px;
  height: 100px;
  /* background-color: red; */
  position: relative;
  animation: blink 1s infinite;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  /* background-color: red; */
}

.heart:before {
  left: 26px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
